@model CompanyInfoVM
@{
    ViewData["Title"] = "Profile";
    string imgpath = "/Front/no-image.png";
    if (!string.IsNullOrEmpty(Model.CompanyInfo.LogoPath))
    {
        imgpath = "/Upload/" + Model.CompanyInfo.LogoPath;
    }
}
<style>
    .select2-container--default .select2-selection--single .select2-selection__rendered {
        text-transform: capitalize !important;
        border: 2px solid #e8ecec;
        color: #777 !important
    }
</style>
<!-- Header Area Start -->
<partial name="_headerwhite" />
<!-- Header Area End -->
<!-- Breadcromb Area Start -->
<section class="jobguru-breadcromb-area">
    <div class="breadcromb-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcromb-box-pagin">
                        <ul>
                            <li><a href="#">home</a></li>
                            <li><a href="#">employer</a></li>
                            <li class="active-breadcromb"><a href="#">Profile</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcromb Area End -->
<!-- Candidate Dashboard Area Start -->
<section class="candidate-dashboard-area section_70">
    <div class="container">
        <div class="row">
         
            <div class="col-md-12 col-lg-12">
                <div class="dashboard-right">
                    <form asp-action="UpdateProfile" enctype="multipart/form-data">
                        <div class="candidate-profile">
                            <div class="candidate-single-profile-info">
                                <div class="single-resume-feild resume-avatar">
                                    <div class="resume-image company-resume-image">
                                        <img src="@imgpath" id="Logo" alt="Logo" style="width:200px;height:200px">
                                        <div class="resume-avatar-hover">
                                            <div class="resume-avatar-upload">
                                                <p>
                                                    <i class="fa fa-pencil"></i>
                                                    Edit
                                                </p>
                                                <input onchange="ShowImage(event)" type="file" name="Logo">
                                                <input type="hidden" asp-for="CompanyInfo.LogoPath">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="candidate-single-profile-info">

                                <div class="resume-box">
                                    <h3>company profile</h3>
                                    <div class="single-resume-feild feild-flex-2">
                                        <div class="single-input">
                                            <label for="name">Company Title:</label>
                                            <input type="text" asp-for="CompanyInfo.Company">
                                            <span asp-validation-for="CompanyInfo.Company" class="text-danger"></span>
                                        </div>
                                        <div class="single-input">
                                            <label for="c_cat">company category:</label>
                                            <select asp-for="CompanyInfo.Industry">
                                                <option value="">Choose Category</option>
                                                <option value="IT Service">IT Service</option>
                                                <option value="StartUP">StartUP</option>
                                                <option value="Corporate">Corporate</option>
                                            </select>
                                            <span asp-validation-for="CompanyInfo.Industry" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="single-resume-feild feild-flex-2">
                                        <div class="single-input">
                                            <label>Contact</label>
                                            <input type="text" asp-for="CompanyInfo.Contact">
                                            <span asp-validation-for="CompanyInfo.Contact" class="text-danger"></span>
                                        </div>
                                        <div class="single-input">
                                            <label>Team Member</label>
                                            <select asp-for="CompanyInfo.NumberOfEmployee">
                                                <option value="">select an option</option>
                                                <option value="1/49">1 to 49</option>
                                                <option value="50/149">50 to 149</option>
                                                <option value="150/249">150 to 249</option>
                                                <option value="250/449">250 to 499</option>
                                                <option value="500/749">500 to 749</option>
                                                <option value="750/999">750 to 999</option>
                                                <option value="1000">1000+</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="single-resume-feild feild-flex-2">
                                        <div class="single-input">
                                            <label>Country</label>
                                            <select class="country-select select2" asp-for="CompanyInfo.Country" asp-items="Model.CountryList">
                                                <option value="">select an option</option>
                                            </select>
                                            <span asp-validation-for="CompanyInfo.Country" class="text-danger"></span>
                                        </div>
                                        <div class="single-input">
                                            <label>City</label>
                                            <input asp-for="CompanyInfo.City">
                                        </div>
                                    </div>
                                    <div class="single-resume-feild feild-flex-2">
                                        <div class="single-input">
                                            <label>Post Code</label>
                                            <input asp-for="CompanyInfo.PostCode" />
                                            <span asp-validation-for="CompanyInfo.PostCode" class="text-danger"></span>
                                        </div>
                                        <div class="single-input">
                                            <label>Address</label>
                                            <input asp-for="CompanyInfo.Address">
                                        </div>
                                    </div>
                                    <div class="single-resume-feild ">
                                        <div class="single-input">
                                            <label for="Bio">Description:</label>
                                            <textarea asp-for="CompanyInfo.Description"></textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="resume-box">
                                    <h3>social link</h3>
                                    <div class="single-resume-feild feild-flex-2">
                                        <div class="single-input">
                                            <label>
                                                <i class="fa fa-file-word-o google"></i>
                                                Company Website
                                            </label>
                                            <input asp-for="CompanyInfo.WebsiteUrl">
                                        </div>

                                        <div class="single-input">
                                            <label for="twitter">
                                                <i class="fa fa-facebook facebook"></i>
                                                facebook
                                            </label>
                                            <input asp-for="CompanyInfo.FacebookUrl">
                                        </div>
                                    </div>
                                    <div class="single-resume-feild feild-flex-2">
                                        <div class="single-input">
                                            <label for="twitter">
                                                <i class="fa fa-twitter twitter"></i>
                                                twitter
                                            </label>
                                            <input asp-for="CompanyInfo.TwitterUrl">
                                        </div>
                                        <div class="single-input">
                                            <label for="linkedin">
                                                <i class="fa fa-linkedin linkedin"></i>
                                                linkedin
                                            </label>
                                            <input asp-for="CompanyInfo.LinkedinUrl">
                                        </div>
                                    </div>
                                </div>
                                <div class="submit-resume">
                                    <button type="submit">Update</button>
                                </div>

                            </div>
                        </div>
                        <input type="hidden" asp-for="CompanyInfo.Id" />
                        <input type="hidden" asp-for="CompanyInfo.UserId" />
                        <input type="hidden" asp-for="CompanyInfo.Email" />
                        <input type="hidden" asp-for="CompanyInfo.SlugName" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Candidate Dashboard Area End -->
@section scripts {
    <script>
        function ShowImage(event) {
            var reader = new FileReader();
            reader.onload = function () {
                var output = document.getElementById('Logo');
                output.src = reader.result;
            }
            reader.readAsDataURL(event.target.files[0]);
        };
    </script>
}
