@model List<Job>
@{
    ViewData["Title"] = "Manage-Jobs";
}
<!-- Header Area Start -->
<partial name="_headerwhite" />
<!-- Header Area End -->
<!-- Breadcromb Area Start -->
<section class="jobguru-breadcromb-area">
    <div class="breadcromb-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcromb-box-pagin">
                        <ul>
                            <li><a href="#">home</a></li>
                            <li><a href="#">employer</a></li>
                            <li class="active-breadcromb"><a href="#">Manage Job</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcromb Area End -->
<!-- Candidate Dashboard Area Start -->
<section class="candidate-dashboard-area section_70">
    <div class="container">
        <div class="row">
            <!--Sidebar For Employer-->
            <div class="col-md-4 col-lg-3 dashboard-left-border">
                <div class="dashboard-left">
                    <ul class="dashboard-menu">
                        <li><a asp-action="Dashboard" asp-controller="Employer"><i class="fa fa-tachometer"></i>Dashboard</a></li>
                        <li><a asp-action="Profile" asp-controller="Employer"><i class="fa fa-users"></i>Company Profile</a></li>
                        <li><a asp-action="Messages"><i class="fa fa-envelope-open"></i>messages</a></li>
                        <li><a asp-action="JobPost" asp-controller="JobPost"><i class="fa fa-envelope-open"></i>post a job</a></li>
                        <li class="active"><a asp-action="ManageJobs" asp-controller="JobPost"><i class="fa fa-briefcase"></i>manage Job</a></li>
                        <li><a asp-action="Manage"><i class="fa fa-briefcase"></i>manage candidates</a></li>
                        <li><a href="#"><i class="fa fa-rocket"></i>transaction</a></li>
                        <li><a asp-action="Password"><i class="fa fa-lock"></i>change password</a></li>
                        <li><a asp-action="Logout" asp-controller="Account"><i class="fa fa-power-off"></i>LogOut</a></li>
                    </ul>
                </div>
            </div>
            <!--Sidebar For Employer End-->
            <div class="col-lg-9 col-md-8 mx-auto">
                <div class="dashboard-right ">
                    <div class="manage-jobs">
                        <div class="manage-jobs-heading">
                            <h3>My Job Listing</h3>
                        </div>
                        <div class="single-manage-jobs table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Posted on </th>
                                        <th>Expiring on </th>
                                        <th>Status</th>
                                        <th>action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        foreach (var item in Model)
                                        {
                                            <tr>
                                                <td class="manage-jobs-title"><a href="#">@item.Title</a></td>
                                                <td class="table-date">@item.StartDate?.ToString("dd  MMM,yyyy")</td>
                                                <td class="table-date">@item.DeadlineDate?.ToString("dd  MMM,yyyy")</td>
                                                <td><span class="pending">Pending Approval</span></td>
                                                <td class="action">
                                                    <a asp-action="UpdateJob" asp-route-Id="@item.Id" asp-controller="JobPost" class="action-edit"><i class="fa fa-pencil-square-o"></i></a>
                                                    <a href="#" class="action-delete"><i class="fa fa-trash-o"></i></a>
                                                </td>
                                            </tr>
                                        }
                                    }

                                </tbody>
                            </table>
                            @*<div class="pagination-box-row">
                                <p>Page 1 of 6</p>
                                <ul class="pagination">
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li>...</li>
                                    <li><a href="#">6</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                                </ul>
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Candidate Dashboard Area End -->
