
@{
    ViewData["Title"] = "Job-Apply";
}
<!-- Header Area Start -->
<partial name="_headerwhite" />
<!-- Header Area End -->
<!-- Breadcromb Area Start -->
<section class="jobguru-breadcromb-area">
    <div class="breadcromb-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcromb-box-pagin">
                        <ul>
                            <li><a href="#">home</a></li>
                            <li><a href="#">Find job</a></li>
                            <li class="active-breadcromb"><a href="#">Apply for a Job</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcromb Area End -->
<!-- Candidate Dashboard Area Start -->
<section class="candidate-dashboard-area section_70">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="dashboard-right">
                    <form action="Javascript:SaveJob();" enctype="multipart/form-data">
                        <div class="candidate-profile">
                            <div class="candidate-single-profile-info">
                                <div class="resume-box">
                                    <h3>Apply For <a href="#"><u>Dot net core developer <i class="fa fa-external-link" aria-hidden="true"></i></u></a></h3>
                                    <div class="single-resume-feild feild-flex-2">
                                        <div class="single-input">
                                            <label>Apply using</label>
                                            <select onchange="myapply(this.value)">
                                                <option value="Web Profile">Web Profile</option>
                                                <option value="Resume">Resume</option>
                                            </select>
                                        </div>
                                        <div class="single-input" id="profileviewer">
                                            <label>View your web profile</label>
                                            <a href="#">Zaeem Khan <i class="fa fa-external-link" aria-hidden="true"></i></a>
                                        </div>
                                        <div class="single-input">
                                        </div>
                                    </div>

                                </div>
                            
                                <div class="submit-resume">
                                    <button type="submit">Apply</button>
                                </div>

                            </div>
                        </div>
                       
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Candidate Dashboard Area End -->
<script src="/js/ApplyForJob.js"></script>