@model User
@{
    ViewData["Title"] = "Employers";
}
<!-- Header Area Start -->
<partial name="_headerwhite" />
<!-- Header Area End -->
<!-- Breadcromb Area Start -->
<section class="jobguru-breadcromb-area">
    <div class="breadcromb-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcromb-box-pagin">
                        <ul>
                            <li><a href="#">home</a></li>
                            <li><a href="#">Account</a></li>
                            <li class="active-breadcromb"><a href="#">Employeer</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcromb Area End -->
<!-- Login Area Start -->
<section class="jobguru-job-tab-area section_70">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="site-heading">
                    <h2>Create an <span>employer account</span></h2>
                    <p>You haven't posted a job before, so you'll need to create an employer account.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class=" job-tab">
                    <ul class="nav nav-pills job-tab-switch" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a asp-action="EmployeeSignUp"asp-controller="Account" class="nav-link active">Employeer</a>
                        </li>
                        <li class="nav-item">
                            <a asp-action="CanidateSignUp"asp-controller="Account" class="nav-link">Canidate</a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade show active">
                        <div class="new-job-submission">
                            <form>
                                <div class="resume-box">
                                    <div class="single-resume-feild feild-flex-2">
                                        <div class="single-input">
                                            <label>Country <i class="fa fa-star text-danger"></i></label>
                                            <select class="country-select" asp-for="Country" asp-items="ViewBag.Country">
                                                <option value="">select an option</option>
                                            </select>
                                            <span asp-validation-for="Country" class="text-danger"></span>
                                        </div>
                                        <div class="single-input">
                                            <label for="Location">Your Company's Name <i class="fa fa-star text-danger"></i></label>
                                            <input type="text" asp-for="Company">
                                            <span asp-validation-for="Company" class="text-danger"></span>
                                        </div>
                                    </div>
                                    
                                    <div class="single-resume-feild feild-flex-2">
                                        <div class="single-input">
                                            <label>First Name <i class="fa fa-star text-danger"></i></label>
                                            <input type="text" asp-for="FirstName">
                                            <span asp-validation-for="FirstName" class="text-danger"></span>
                                        </div>
                                        <div class="single-input">
                                            <label>Last Name</label>
                                            <input type="text" asp-for="LastName">
                                            <span asp-validation-for="LastName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="single-resume-feild feild-flex-2">
                                        <div class="single-input">
                                            <label>Your company's number of employees </label>
                                            <select asp-for="NumberOfEmployee">
                                                <option value="">select an option</option>
                                                <option value="1to49">1 to 49</option>
                                                <option value="50to149">50 to 149</option>
                                                <option value="150to249">150 to 249</option>
                                                <option value="250to449">250 to 499</option>
                                                <option value="500to749">500 to 749</option>
                                                <option value="750to999">750 to 999</option>
                                                <option value="1000">1000+</option>
                                            </select>
                                        </div>
                                        <div class="single-input">
                                            <label>Your Phone Number</label>
                                            <input type="text" asp-for="Contact">
                                            <span asp-validation-for="Contact" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="single-resume-feild feild-flex-2">
                                        <div class="single-input">
                                            <label>Email <i class="fa fa-star text-danger"></i></label>
                                            <input type="email" asp-for="Email">
                                            <span asp-validation-for="Email" class="text-danger"></span>
                                        </div>
                                        <div class="single-input">
                                            <label>Password <i class="fa fa-star text-danger"></i></label>
                                            <input asp-for="Password">
                                            <span asp-validation-for="Password" class="text-danger"></span>
                                        </div>
                                    </div>
                             
                                </div>
                                <div class="single-input submit-resume">
                                    <button type="submit">Sign Up</button>
                                </div>
                                <input type="hidden" value="Employee" asp-for="Type" />
                                <input type="hidden" value="true" asp-for="IsActive" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Login Area End -->
<partial name="_ValidationScriptsPartial" />
