
@{
    ViewData["Title"] = "About";
}
<!-- Header Area Start -->
<partial name="_headerwhite" />
<!-- Header Area End -->
<!-- Breadcromb Area Start -->
<section class="jobguru-breadcromb-area">
    <div class="breadcromb-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcromb-box-pagin">
                        <ul>
                            <li><a href="#">home</a></li>
                            <li class="active-breadcromb"><a href="#">About us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcromb Area End -->
<!-- About Area Start -->
<section class="jobguru-about-page section_70">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="about-main-box">
                    <p>
                        Helping talented people find opportunities with top local companies both online and in real life.
                        <br />
                        As Western Canada's largest job board, BCjobs.ca has been connecting people to leading companies in Greater Vancouver and throughout British Columbia for over 15 years. Our team understands the local hiring market, economy, and companies that make up the fabric of our great province.
                        <br />
                        In addition to helping people find their dream jobs, BCjobs.ca helps job seekers through every step of their career with professional development opportunities, networking events, and career advice.
                    </p>
                    <b>Our Values</b>
                    <p><u>Connections:</u></p>
                    <p>
                        To our team. To our customers. To our community. We develop strong relationships by learning about those around us, identifying their needs, and working collaboratively with them to bring together interesting projects and great people.
                    </p>
                    <p><u>Continuous Improvement:</u></p>
                    <p>
                        As a team and individually, we are driven to consistently improve. We learn from everything that we do and work to keep refining each part of our business. Through this process, we strive to deliver a better experience and service to our customers each day.
                    </p>
                    <p><u>Commitment:</u></p>
                    <p>
                        Everything we do, we do it with passion, persistence, and grit. Where others see challenges, we see opportunities for learning and growth. We are committed to reaching our goals by living out our values each day
                    </p>
                    <p><u>Contribution:</u></p>
                    <p>
                        We believe in paying it forward and bettering the communities we work with. By leveraging our experience, resources, and support, we empower people to build stronger connections, keep improving, and find what they're committed to
                    </p>
                </div>
            </div>
        </div>
        
    </div>
</section>
<!-- About Area End -->
<!-- Pricing Area Start -->
<section class="jobguru-pricing-area section_70">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="site-heading">
                    <h2>choose best <span>plan</span></h2>
                    <p>A better career is out there. We'll help you find it. We're your first step to becoming everything you want to be.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 no-pad-right">
                <div class="single-pricing price-basic">
                    <div class="price-heading">
                        <h3>basic</h3>
                    </div>
                    <div class="price-value">
                        <h2><i class="fa fa-dollar"></i> 35</h2>
                        <p>per month</p>
                    </div>
                    <div class="price-btn">
                        <a href="#" class="jobguru-btn-2">sign up</a>
                    </div>
                    <div class="price-body">
                        <p>Features of Basic Plan</p>
                        <p>1 Listing</p>
                        <p>30 Days Visibility</p>
                        <p>10 bids per day</p>
                        <p>Highlighted in Search Results</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 no-pad-all">
                <div class="single-pricing price-standard">
                    <div class="price-heading">
                        <h3>basic</h3>
                    </div>
                    <div class="price-value">
                        <h2><i class="fa fa-dollar"></i> 35</h2>
                        <p>per month</p>
                    </div>
                    <div class="price-btn">
                        <a href="#" class="jobguru-btn-2">sign up</a>
                    </div>
                    <div class="price-body">
                        <p>Features of Basic Plan</p>
                        <p>1 Listing</p>
                        <p>30 Days Visibility</p>
                        <p>10 bids per day</p>
                        <p>Highlighted in Search Results</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 no-pad-left">
                <div class="single-pricing price-premium">
                    <div class="price-heading">
                        <h3>basic</h3>
                    </div>
                    <div class="price-value">
                        <h2><i class="fa fa-dollar"></i> 35</h2>
                        <p>per month</p>
                    </div>
                    <div class="price-btn">
                        <a href="#" class="jobguru-btn-2">sign up</a>
                    </div>
                    <div class="price-body">
                        <p>Features of Basic Plan</p>
                        <p>1 Listing</p>
                        <p>30 Days Visibility</p>
                        <p>10 bids per day</p>
                        <p>Highlighted in Search Results</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Pricing Area End -->
