
@{
    ViewData["Title"] = "FAQ";
}   <!-- Header Area Start -->
<partial name="_headerwhite" />
<!-- Header Area End -->
<!-- Breadcromb Area Start -->
<section class="jobguru-breadcromb-area">
    <div class="breadcromb-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcromb-box-pagin">
                        <ul>
                            <li><a href="#">home</a></li>
                            <li class="active-breadcromb"><a href="#">FAQ</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcromb Area End -->
<!-- About Area Start -->
<section class="jobguru-about-page section_70">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="about-main-box">
                    <h2 class="text-dark">Employer FAQ</h2>
                </div>

                <h3><a data-bs-toggle="collapse" data-bs-target="#one" aria-expanded="true" aria-controls="one">Is this site free?</a></h3>
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <div id="one" class="accordion-collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                               <p>
                                    While creating an account and employer profile page is free, we do charge for our job board service. If you would like to add information to your employer profile page, which is visible even if you do not post any jobs, you can do so by logging into your Employer account and clicking on the Branding tab in the menu on the left side of the page.
                               </p>
                            </div>
                        </div>
                    </div>
                </div>
                <h3 class="mt-5"><a data-bs-toggle="collapse" data-bs-target="#two" aria-expanded="true" aria-controls="two">How long will be job posts be published?</a></h3>
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <div id="two" class="accordion-collapse collapse" aria-labelledby="two" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                               <p>
                                    Job postings are published for 60 days or until your specified closing date, whichever is sooner.
                               </p>
                            </div>
                        </div>
                    </div>
                </div> 
                <h3 class="mt-5"><a data-bs-toggle="collapse" data-bs-target="#three" aria-expanded="true" aria-controls="three">I have filled my job - how can I take down a posting?</a></h3>
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <div id="three" class="accordion-collapse collapse" aria-labelledby="three" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                               <p>
                                    You can close at any time by archiving it. To archive a job, log into your account and click on View All Jobs. From there, simply click on the Archive Job icon for the posting you would like to close. Please note that once a job has been archived, it cannot be published again unless you purchase another job credit or you are subscribed to an unlimited plan
                                </p>
                            </div>
                        </div>
                    </div>
                </div> 
                
                <h3 class="mt-5"><a data-bs-toggle="collapse" data-bs-target="#four" aria-expanded="true" aria-controls="four">What plans do you have available?</a></h3>
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <div id="four" class="accordion-collapse collapse" aria-labelledby="four" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                               <p>
                                    -You can purchase Job Post Credits on an as-needed basis for $219 each. If you are posting multiple jobs, we also offer an Unlimited Jobs Plan for $339 per month or $3499 per year, which includes unlimited job postings and access to our Resume Database. Please note our monthly Unlimited Jobs Plan automatically recurs each month, however you may cancel at any time.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Area End -->