
@{
    ViewData["Title"] = "Message";
}
<input type="hidden" id="userInput" />
<!-- Breadcromb Area Start -->
<section class="jobguru-breadcromb-area">
    <div class="breadcromb-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcromb-box-pagin">
                        <ul>
                            <li><a href="#">home</a></li>
                            <li class="active-breadcromb"><a href="#">Messages</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcromb Area End -->
<!-- Candidate Dashboard Area Start -->
<section class="candidate-dashboard-area section_70">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-8  mx-auto">
                <div class="dashboard-right message-page-box">
                    <div class="manage-jobs-heading">
                        <h3>New Messages</h3>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-12 ">
                            <div class="chat-list-left">
                                <div class="chat-search-form">
                                    <form>
                                        <input type="search" placeholder="Search Contact">
                                        <button type="submit"><i class="fa fa-search"></i></button>
                                    </form>
                                </div>
                                <!-- End Chat Search -->
                                <div class="chat-list-body">
                                    <ul class="chat-list">
                                        <li class="clearfix">
                                            <a href="#">
                                                <div class="chat-about">
                                                    <h4><b>David Johnson</b> <span class="badge bg-dark">0</span></h4>
                                                    <small class="online">Online</small>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- End Chat List Body -->
                            </div>
                        </div>
                        <!-- Col End -->
                        <div class="col-lg-8 col-md-12">
                            <div class="chat-board-right">
                                <div class="chat-board-header">
                                    <div class="navbar">
                                        <div class="user-details-nav">
                                            <div class="user-info pull-left">
                                                <a href="#" title="Mike Litorus">
                                                    <h4><b>Mike Litorus</b></h4>
                                                </a>
                                                <small class="online">online</small>
                                            </div>
                                        </div>
                                        @*<ul class="nav navbar-nav pull-right custom-menu">
                                                <li class="dropdown">
                                                    <a href="#"><i class="fa fa-cog"></i></a>
                                                </li>
                                            </ul>*@
                                    </div>
                                </div>
                                <!-- End Chatbot Header -->
                                <div class="chat-board-content">
                                    <div class="chat-box-wrapper">
                                        <div class="chat-box-inner">
                                            <ul class="chat-list" id="messagesList">

                                                <li>
                                                    <div class="chat-content">
                                                        <div class="chat-text">
                                                            It’s Great opportunity to work.
                                                        </div>
                                                        <div class="chat-time">10:57 am</div>
                                                    </div>
                                                </li>

                                                <li class="chat-list-right">
                                                    <div class="chat-content">
                                                        <div class="chat-text">
                                                            simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                                                        </div>
                                                        <div class="chat-action">10:57 am</div>
                                                    </div>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Chatbot COntent -->
                                <div class="chat-footer">
                                    <div class="message-bar">
                                        <div class="message-bar-inner">
                                            <div class="attach-icon">
                                                <p>
                                                    <i class="fa fa-paperclip"></i>
                                                </p>
                                                <input type="file">
                                            </div>
                                            <div class="message-text-area">
                                                <form action="#">
                                                    <textarea id="messageInput" placeholder="Type message..."></textarea>
                                                    <button type="button" id="sendButton"><i class="fa fa-send"></i></button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Chat Footer -->
                            </div>
                        </div>
                        <!-- Col Start -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Candidate Dashboard Area End -->
<script src="/js/signalr/dist/browser/signalr.js"></script>
<script src="/js/signalr/chat.js"></script>