@{
    //Sign In Check
    var userName = "";
    var user = new User();
    var isSignedIn = SignInManager.IsSignedIn(User);
    if (isSignedIn)
    {
        var userId = _currentuser.GetUserId();
        user = await _db.User.SingleOrDefaultAsync(c => c.Id.Equals(userId));
        //
        userName = "" + user.FirstName.Substring(0, 1) + "" + user.LastName.Substring(0, 1) + "";
    }
}
<!-- Header Area Start -->
<header class="jobguru-header-area stick-top forsticky page-header">
    <div class="menu-animation">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2">
                    <div class="site-logo">
                        <a asp-action="Index" asp-controller="Home">
                            <img src="/Front/assets/img/logo-2.png" alt="jobguru" />
                        </a>
                    </div>
                    <!-- Responsive Menu Start -->
                    <div class="jobguru-responsive-menu"></div>
                    <!-- Responsive Menu Start -->
                </div>
                <div class="col-lg-6">
                    <div class="header-menu">
                        <nav id="navigation">
                            <ul id="jobguru_navigation">
                                <li><a asp-action="JobFind" asp-controller="FindJob">Find Jobs</a></li>
                                <li><a href="#">Company Reviews</a></li>
                                <li><a href="#">Salary Guide</a></li>
                                @{
                                    if (isSignedIn)
                                    {
                                        if (user.Type == "Employee")
                                        {
                                            <li class="active has-children">
                                                <a href="#">Employee</a>
                                                <ul>
                                                    <li><a asp-action="Dashboard" asp-controller="Employer">Dashboard</a></li>
                                                    <li><a asp-action="Profile" asp-controller="Employer">Profile</a></li>
                                                    <li><a asp-action="JobPost" asp-controller="JobPost">Post a Job</a></li>
                                                    <li><a asp-action="ManageJobs" asp-controller="JobPost">Manage Job</a></li>
                                                </ul>
                                            </li>
                                        }
                                        if (user.Type == "Candidate")
                                        {
                                            <li class="active has-children">
                                                <a href="#">Candidate</a>
                                                <ul>
                                                    <li><a asp-action="Profile" asp-controller="Candidate">Profile</a></li>
                                                    <li><a href="#" @*asp-action="MyJob" asp-controller="Candidate"*@>MyJob</a></li>
                                                </ul>
                                            </li>
                                        }
                                    }
                                }
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="header-right-menu">
                        <ul>
                            @{
                                if (isSignedIn && user.Type == "Employee")
                                {
                                    <li><a asp-action="JobPost" asp-controller="JobPost" class="post-jobs">Post jobs</a></li>
                                }
                                else if (!isSignedIn)
                                {
                                    <li><a asp-action="JobPost" asp-controller="JobPost" class="post-jobs">Post jobs</a></li>
                                }
                                if (isSignedIn)
                                {

                                    <li><a asp-action="Logout" asp-controller="Account"><i class="fa fa-user"></i>Welcome @userName</a></li>
                                }
                                else
                                {
                                    <li><a asp-action="EmployeeSignUp" asp-controller="Account"><i class="fa fa-user"></i>sign up</a></li>
                                    <li><a asp-action="Login" asp-controller="Account"><i class="fa fa-lock"></i>login</a></li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header Area End -->